.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(37, 37, 37, 0.342);
    padding: 2rem 9%;
    color: white;
  }
  .footerText p {
    font-size: 1.8rem;
  }
  .footerIcon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
  }
  .footerIcon a:hover {
    box-shadow: 0 0 1rem rgba(255, 0, 0, 0.555);
  }
  .footer-icon a .icon {
    font-size: 2.4rem;
    color: black;
  }