@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/* INICIO DAS ESTILIZAÇÕES */
html {
  font-size: 62.5%;
  overflow: hidden;
  overflow-y: scroll;
}
body {
  background-color: black;
}
section {
  min-height: 70vw;
  padding: 8rem 9% 2rem;
}
@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100
    
  }
}


*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
