@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
  }
  .header.sticky {
    color: red;
    border-bottom: 0.1rem solid rgba(37, 37, 37, 0.342);
  }
  /* NAV BAR STYLES/CONFIGS */
  .navbar > a {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    margin-left: 4rem;
  }
  .navbar > a:hover,
  .navbar a.active {
    cursor: pointer;
    color: red;
  }
  .menuIcon {
    font-size: 3.6rem;
    color: white;
    display: none;
  }
  @media (max-width: 990px) {
    .header {
      padding: 2rem 3%;
    }
}
@media (max-width: 768px) {
    .menuIcon {
      display: block;
      color: white;
    }
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background-color: rgba(0, 0, 0, 0.836);
      border-top: 0.2rem solid rgba(255, 0, 0, 0.486);
      box-shadow: 0 0 1rem rgba(255, 0, 0, 0.342);
      display: none;
    }
    .navbar.active {
      display: block;
    }
    .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }
}